@model UserProfile
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}

<form method="post" asp-action="Login">
    <div class="container align-content-center">
        <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
        <p><b>@ViewBag.LoginStatus</b></p>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="EmailAddress"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-4">
                <div class="w-12 btn-group float-right">
                    <input type="submit" value="Login" class="btn btn-primary mx-1" />
                    <a asp-controller="UserProfile" asp-action="Registration" class="btn btn-success mx-1" >Registration</a>
                </div>
            </div>
        </div>
    </div>
</form>