 @model UserProfile
@{ 
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}

<form method="post" asp-action="Registration">
    <div class=" container align-content-center">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="row">
            <div class="col-4">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-4">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <br />


        <div class="row">
            <div class="col-4">
                <label asp-for="EmailAddress"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-4">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="w-12 btn-group" role="group">
            <input type="submit" class="btn btn-primary" value="Registration"/>
            <a asp-controller="UserProfile" asp-action="Login" class="btn btn-secondary">Login</a>
        </div>
    </div>
</form>
