@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 >Welcome</h1>
    <h1 class="display-4">Expense Management System</h1>
    <br /> 
    <p>Record, Manage And Track All Your Expenses</p>
</div>
